@use "../global" as *;

header {
	position: relative;
	z-index: 999;
	width: 100%;
	height: $headerHeightSp;
	margin-bottom: -$headerHeightSp;

	@include mq(tab) {
		height: $headerHeight;
		margin-bottom: -$headerHeight;
	}

	.l-inner {

		@include mq(pc) {
			max-width: calc((#{$windowMaxWidth}) + (58px * 2));
			padding: 0 58px;
		}
	}
}

.l-header__body {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0 auto;

	@media screen and (min-width: $windowMaxWidth) {
		max-width: $windowMaxWidth;
	}
}

.l-header__logo {}