:root {
    --text-color-main: #333;
    --color-white: #fff;
    --color-white-rgb: 255, 255, 255;
    --color-black-01: #222;
    --color-black-01-rgb: 34, 34, 34;
    --color-black-02: #000;
    --color-black-03: #525252;
    --color-gray-01: #f0f0f0;
    --color-gray-02: #cecece;
    --color-gray-03: #ddd;
}