//@font-faceはfoundation/base.scss

//----------------------------------
// メインフォント
//----------------------------------
$mainFont: 'Noto Sans JP', sans-serif;

@mixin mainFont {
	font-family: $mainFont;
	font-style: normal;
	font-weight: 400;
}

//----------------------------------
// Montserrat
//----------------------------------
@mixin fontMontserratMedium {
	font-family: 'Montserrat',
		sans-serif;
	font-style: normal;
	font-weight: 500;
}

@mixin fontMontserratBold {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
}

@mixin fontMontserratExtraBold {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 800;
}